body {
    background: no-repeat url(images/japan/japan_tokyo.jpg);
    background-size: cover;
}

#title {
    background: no-repeat url(images/japan/Flag_of_Japan.png);
    height: 80px;
    background-size: 89px;
    text-align: center;
    font-size: larger;
    color: white;
}

p {
    text-align: center;
    font-size: large;
    color: white;
    background-color: red;
    font-style: italic;
}

#flag-gif {
    display: block;
    float: right;
    position: relative;
}

#photos {
    display: flex;
    float: left;
    position: relative;
    margin: 2px;
    flex-direction: column;
    align-items: center;
}

#return {
    text-align: center;
}

button {
    font-size: larger;
}